.socialMediaMenu{
    display: flex;
    position: relative;
    width: 100vw;
    height: 5vh;
    background-color: rgb(6, 8, 107);
}

.optionSection{
    display: flex;
    max-width: 60vw;
    margin-left: 40vw;
}

.socialOption{
    margin-top: 1vh;
    width: 13vw;
    height: 3vh;
    margin-right: 1vw;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
}

.socialOption:hover{
    background-color: white;
    color:black;
}

.socialOption i{
    font-size: 1.5em;
}

.socialOption a{
    text-decoration: none;
    color:white;
}

.socialOption:hover{
    background-color: rgba(255,255,255,0.3);
    color:black;
}

.menu{
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: dodgerblue;
    font-family: 'Arial';
    z-index: 99;
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 150px;
    float: left;
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: dodgerblue;
    color: white;
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #f4f4f4;
    color:#555;
}

.menu ul ul li{
    float: none;
    border-bottom: 1px solid white;
}

.menu ul ul li a{
    background-color: #069;
}

label[for="bt_menu"]{
    padding: 5px;
    background-color: dodgerblue;
    color:white;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#bt_menu{
    display: none;
}

label[for="bt_menu"]{
    display: none;
}

.contact{
    background: goldenrod;
}

@media(max-width:800px){

    .socialText{
        visibility: hidden;
    }

    .socialOption{
        width: 5vw;
    }

    .menu{ 
        margin-left: -200%;
        transition: all 0.4s;
        z-index: 99;
    }
    .menu ul li{
        width: 100%;
        float: none;
    }

    .menu ul ul{
        position:static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }

    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

    label[for="bt_menu"]{
        display: block;
    }
    
    #bt_menu:checked~ .menu{
        margin-left: 0;
    }
}